<div class="col-md-12" role="main">
    <h1>Add Budget</h1>

    <form class="clearfix" action="/user/budget" method="post">
        <div class="form-group form-group-sm">
            <label for="tag">Tag</label>
            <input type="input" name="tag" class="form-control" id="tag" placeholder="Tag" value="{{model.tag}}">
        </div>
        <div class="form-group form-group-sm">
            <label for="amount">Amount</label>
            <input type="input" name="amount" class="form-control" id="amount" placeholder="Amount" value="{{model.amount}}">
        </div>

        <button type="submit" class="btn btn-primary btn-xs pull-right">Save budget</button>
    </form>

</div>
